@font-face {
  font-family: "FixedsysExcelsiorIIIb";
  src: url("fonts/FixedsysExcelsiorIIIb.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    margin-bottom: 1rem;
    width: 100%;
    align-self: center;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  background-color: rgb(0, 69, 11);
  background-image: url("images/background.png");
  background-size: cover;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.title h1 {
  font-family: "FixedsysExcelsiorIIIb";
  display: inline-block;
  font-size: 3rem;
  text-align: Center;
  color: #87f1b4;
  background-color: darkgreen;
  padding-left: 5px;
  padding-right: 5px;
}

.about-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 1000px;
  padding: 1rem;
}

.about-image {
  width: 250px;
  height: auto;
  border-radius: 12px;
}

.about-text {
  flex: 1;
  font-size: 1.3rem;
  color: #87f1b4;
  font-family: "FixedsysExcelsiorIIIb";
}

.skills-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 1000px;
  padding: 1rem;
}

.skills-image {
  width: 125;
  height: auto;
  border-radius: 12px;
}

.skills-text {
  flex: 1;
  font-size: 1.3rem;
  color: #87f1b4;
  font-family: "FixedsysExcelsiorIIIb";
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  float: none;
}

li a {
  display: block;
  text-align: Left;
  padding: 10px;
  color: #87f1b4;
  font-size: 2rem;
  font-weight: normal;
  font-family: "FixedsysExcelsiorIIIb";
}

li a:hover {
  color: white;
  background-color: #1dd767;
}

.active {
  background-color: rgb(3, 101, 25, 0.8);
}
